<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.criativasoft.intellihouse"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Intelli" >
       
        <activity
            android:name=".view.SectorsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Intelli.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".view.DeviceWidgetConfigure"
            android:label="Widget configuration"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <activity android:name=".IntelliHouseActivity" />
        <activity android:name=".view.SettingsActivity" />

        <service android:name=".service.DeviceManagerService" />
        <service android:name=".service.InfraredCommandService" />

        <receiver
            android:name="br.com.criativasoft.intellihouse.view.DeviceWidgetProvider"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_main" />
        </receiver>
    </application>

</manifest>